@font-face {
    font-family: unseen;
    src: url("fonts/unseen.woff");
    font-weight: bold;
  }
  @font-face {
    font-family: unseen;
    src: url("fonts/unseen.woff2");
    font-weight: bold;
  }
$color: url("img/background.jpg");
body{
    height: 100%; 
    margin:0px;
    font-family: unseen;
    background: url("img/background.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    .container{
      #bigNote{
          padding:3%;
          margin: 2em auto;
          background:	#FFFFCC	;
          box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
        img{
          width: 80px;
        }
        h1{
          padding-top: 2%;
            text-align: center;
            font-size: 60pt;
        }
      }
        
    }
}

form{
    margin: auto;
    font-family: courier, monospace;
    width: 70%;
    background-color: #f5f5f5;
    margin-top: 3%;
    #lines {
        position: absolute;
          border-left: 1px solid #ffaa9f;
          border-right: 1px solid #ffaa9f;
          width:3px;
          margin-left: 30px;
      }
     
    .form-control{
        border: none;
        border-radius: 0;
        border-bottom: 1px dotted #ccc;
        height: auto;
        padding: 10px;
        padding-left: 45px;
    }
    #textarea{
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 70px;
    }
    #date,#taskhours {
      text-align: left;
  }
    #date{
      padding-left: 20px;
    }
}

.buttons{
  padding-top: 2%;
    .btn{
      font-size: 20px;
    }
}

  ul,li{
    list-style:none;
    margin:1em;
    float:left;
  }
  ul{
    overflow:hidden;
    padding:3em;

    li {
      text-decoration:none;
      color:#000;
      background:#ffc;
      display:block;
      height:250px;
      width:250px;
      padding:1em;
      box-shadow: 5px 5px 7px rgba(33,33,33,.7);
      transform: rotate(-6deg);
      transition: transform .15s linear;
      animation-name: fadeIn;
      animation-duration: 2s;

      h2{
          font-size:140%;
          font-weight:bold;
          padding-bottom:10px;
        }
        .fas{
          float: right;
          display: none;
        }
        #textNote{
          height:180px;
          overflow: auto;
          p{
            font-family:"Reenie Beanie",arial,sans-serif;
            font-size:150%;
          }
        }
        #dateContainer{
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
        }
    
          &:nth-child(even) {
              transform:rotate(4deg);
              position:relative;
              top:5px;
              // background:#cfc;
          }
          &:nth-child(3n) {
            transform:rotate(-3deg);
            position:relative;
            top:-5px;
            // background:#ccf;
          }
          &:nth-child(5n) {
            transform:rotate(5deg);
            position:relative;
            top:-10px;
          }

          &:hover, &:focus{
            box-shadow:10px 10px 7px rgba(0,0,0,.7);
            transform: scale(1.25);
            position:relative;
            z-index:5;
            .fas{
                display: block;
            }
          }
    }
}
  @keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }